@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');


$font-family: 'Source Sans Pro', sans-serif;
$second-font-family: 'Saira', sans-serif;
$default-color: rgb(255, 179, 0);
$main-color: rgb(81, 60, 54);
