@import "_variables";
@import "style.scss";

a {
    color: pink;
}


.footer {
    margin-top: 500px;
}

.settings:hover {
    color: orange;
    transition: .5s;
    cursor: pointer;
}

.licytacja_sprzedaz {
    width: 100%;
    margin-bottom: 100px;
    margin-top: 20px;
    padding: 20px 50px;
    background-color: rgb(239, 71, 99);
    font-family: $second-font-family;
    font-size: 30px;

    &:hover {
        background-color: rgb(4, 4, 89);
        transition: all 2s;
        color: white;
        border: 5px solid rgb(174, 155, 155);
    }
}

.inputt {

    text-align: justify;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    border: 3px solid rgb(31, 6, 99);
    width: 50%;
    height: 150px;
}

.cena {
    text-align: justify;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    border: 3px solid rgb(31, 6, 99);
    width: 10%;
    height: 50px;
}

.btnn {
    width: 15%;
    height: 70px;
    color: white;
    background-color: rgb(6, 72, 6);
    font-size: 30px;
    margin-bottom: 30px;

    &:hover {
        cursor: pointer;
        
    }
}