@import "_variables";
@import "style.scss";

a {
    color: pink;
}

.settings {
    display: flex;
    padding: 0 30px 0 20px;
    align-items: center;

    &:hover {
        color: orange;
        transition: .5s;
        cursor: pointer;
    }

    @media(max-width: 799px) {
        flex-grow: 1;
        justify-content: flex-end;
    }

    &__icon-link {
        margin: 10px 5px;
        font-size: 5rem;
        color: #555;
        margin-left: 30px;

        &:hover {
            color: black;
        }
    }
}


